.venv
.vscode
misc
templates/greeting.html
templates/simple.html
templates/test_plot.html
templates/index.html
templates/layout.html
__pycache__
aipy/__pycache__
datapy/__pycache__
static/session/*
static/svdirs/cmdsession/*
*.R
coAn*.txt
plot*.pdf
rmbin/*
cmdlogs/*
indlog
