<!DOCTYPE html>
<html>

<head>
  <title>SSL</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Starting styles -->
  <link rel="stylesheet" href="/static/css/missing/1.0.10/dist/missing.min.css">
  <!-- Prism theme (https://prismjs.com/): -->
  <!-- <link rel="stylesheet" href="/static/css/missing/1.0.10/dist/missing-prism.min.css"> -->
  <!-- Other styles -->
  <link rel="stylesheet" href="/static/css/site.css">
  <!-- js -->
  <script src="/static/js/htmx.org/dist/htmx.min.js"></script>
  <script src="/static/js/mathjax_config.js" defer></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script type="text/javascript" id="MathJax-script" defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.9"></script>

</head>

<body hx-boost="True">
  <main>
    <header>
      <h1>
        <span>Self-supervised Learning of Optimum Contributions</span>
        <sub-title>An Application in Maximizing Genetic Variation</sub-title>
      </h1>
    </header>

    <div>
      {% block content %}


      
      {% endblock %}
    </div>
    <!-- <div class="row">
      <div class="column" style="background-color:#aaa;">Column</div>
      <div class="column" style="background-color:#bbb;">Column</div>
      <div class="column" style="background-color:#ccc;">Column</div>
    </div> -->
    <footer>
      <p>Oluwasegun Somefun. USDA-ARS AI-COE/SCINet Graduate Research Fellowship/Internship. 2023. </p>
    </footer>
  </main>

  
</body>

</html>

